/* fxexperience.com/2011/12/styling-fx-buttons-with-css/ */
.button{    -fx-background-color: #393A3A;
            -fx-border-color: #707171;
           -fx-background-radius: 0,0,0;
           -fx-font-family: "Helvetica";
           -fx-font-weight: bold;
           -fx-text-fill: white;
           -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

/* TODO: Style all the other windows too! */

.button:focused{
    -fx-border-color: #707171;
    -fx-background-color: #4F5050;
    -fx-text-fill: #000000;
}

#update-pane{
    -fx-background-color: #393A3A;
    -fx-border-color: #484949;
}

#button-box{
    -fx-background-color: #393A3A;
    -fx-border-color: #484949;
}

.list-cell:even {
    -fx-background-color: #494A4A;
}

.list-cell:odd {
    -fx-background-color: #535454;
}

.list-view {
    -fx-background-color: #494A4A;
    -fx-border-color: #484949;
}

.check-box{
    -fx-background-color:
             linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
             linear-gradient(#020b02, #3a3a3a),
             linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
             linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
     -fx-text-fill: #333333;
}

.menu-button{
    -fx-background-color: linear-gradient(#494A4A, #686969);
     -fx-background-radius: 2, 2, 2, 2;
     -fx-text-fill: #333333;
}

.toolbar-text{
     -fx-background-color: white;
     -fx-text-fill: #333333;
     -fx-border-color: black;
     -fx-border-radius: 0, 0, 0, 0;
     -fx-text-fill: #333333;
}

.progress-bar .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-accent: #4060FF;
}
.progress-bar .track {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #393A3A;
}

.progress-bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.tool-bar{
    -fx-background-color:
                 linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
                 linear-gradient(#020b02, #3a3a3a),
                 linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
                 linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
}

.background{
    -fx-background-color:
                   linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
                   linear-gradient(#020b02, #3a3a3a),
                   linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
                   linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
                   linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
}